/* GLOBAL STYLES */
body {
  background: var(--background-color);
  color: var(--font-color);
  column-gap: 120px;
  display: grid;
  font-family: "NB International Regular", sans-serif;
  font-size: var(--body-font-size);
  grid-template-areas:
    "content"
    "footer";
  justify-content: center;
  line-height: var(--line-height);
  margin: auto;
  min-height: 100vh;
  padding: 0px 24px 40px 24px;
  padding-bottom: env(safe-area-inset-bottom);
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 769px) {
  body {
    padding: 120px 80px 0px 80px;
    grid-template-areas: "content footer";
  }
}

h1,
h2,
h3,
.bold-text {
  font-family: "NB International Bold", sans-serif;
}

p:not(:last-child),
h2,
h1,
li {
  margin-bottom: var(--spacing-small) !important;
}

a {
  border-bottom: 2px solid var(--link-color);
  color: var(--link-color);
  text-decoration: none !important;
}

a:visited {
  color: var(--visited-link);
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 1em;
}

*:focus {
  border-radius: 0.125rem;
  outline: 0.125rem solid var(--font-color);
}

@font-face {
  font-family: "NB International Regular";
  src:
    url("/fonts/nb_international_pro_regular.woff2") format("woff2"),
    url("/fonts/nb_international_pro_regular.woff") format("woff");
}

@font-face {
  font-family: "NB International Bold";
  src:
    url("/fonts/nb_international_pro_bold.woff2") format("woff2"),
    url("/fonts/nb_international_pro_bold.woff") format("woff");
}

/* ELEMENTS */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy IE support */
  clip-path: inset(50%); /* Modern clipping */
  white-space: nowrap; /* Prevents text from wrapping */
}

.home-top {
  padding-top: var(--spacing-large);
}
.page-top {
  padding-top: var(--spacing-medium);
}

main {
  grid-area: content;
  max-width: 37.5rem;
  padding-bottom: var(--spacing-large);
}

@media screen and (min-width: 769px) {
  .home-top {
    padding-top: 0;
  }
  .page-top {
    padding-top: 0;
  }
  main {
    padding-bottom: 120px;
  }
}

mo-footer {
  grid-area: footer;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(0.125rem * 2);
  padding-bottom: 120px;
}

@media screen and (min-width: 769px) {
  footer {
    position: sticky;
    height: 100vh;
    top: 0px;
    max-width: 16rem;
    overflow: scroll;
    padding-top: 120px;
  }

  footer::-webkit-scrollbar {
    display: none;
  }
}

.close-button {
  position: sticky;
  top: 40px;
}
.close-button a:active,
.close-button a:focus {
  outline-offset: 0.125rem;
}

@media screen and (min-width: 769px) {
  .close-button {
    position: sticky;
    top: 120px;
  }
}

.interest-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxsmall);
}

.interest-item {
  color: var(--background-color) !important;
  border-radius: 0.8rem;
  color: var(--font-color);
  padding: 1em;
  font-size: var(--small-font-size);
}

a.interest-item {
  border-bottom: 0px;
}

.interest-item-1 {
  background: var(--interest-item-1);
}

.interest-item-2 {
  background: var(--interest-item-2);
}

.interest-item-3 {
  background: var(--interest-item-3);
}

a.interest-item:active,
a.interest-item:focus {
  outline-offset: 0.125rem;
}

.button {
  align-items: center;
  background: var(--font-color);
  border-radius: 100%;
  display: inline-flex;
  padding: 0.5rem;
}

.button-small {
  align-items: center;
  background: var(--font-color);
  border-radius: 100%;
  display: inline-flex;
  padding: 0.875rem;
}

.button svg {
  fill: var(--background-color);
  height: 1rem;
}

.selected-work-image {
  border-radius: 3px;
  border: 1px solid var(--border-color);
}

.call-out-container {
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  padding: 16px;
  border-radius: 3px;
}

/* HELPER CLASSES */
.xs-text {
  font-size: var(--xs-font-size) !important;
}

.small-text {
  font-size: var(--small-font-size) !important;
}

.large-text {
  font-size: var(--large-font-size) !important;
}

.center-text {
  text-align: center;
}

.bold-text {
  font-family: "NB International Bold", sans-serif;
}

.spacing-xxsmall-top {
  margin-top: var(--spacing-xxsmall) !important;
}

.spacing-xsmall-top {
  margin-top: var(--spacing-xsmall) !important;
}

.spacing-small-top {
  margin-top: var(--spacing-small) !important;
}

.spacing-medium-top {
  margin-top: var(--spacing-medium) !important;
}

.spacing-large-top {
  margin-top: var(--spacing-large) !important;
}

.spacing-xsmall-bottom {
  margin-bottom: var(--spacing-xsmall) !important;
}

.spacing-small-bottom {
  margin-bottom: var(--spacing-small) !important;
}

.spacing-medium-bottom {
  margin-bottom: var(--spacing-medium) !important;
}

.spacing-large-bottom {
  margin-bottom: var(--spacing-large) !important;
}

.no-bullet {
  list-style-type: none;
  padding-inline-start: 0px !important;
}

.no-underline {
  border-bottom: 0px;
}

.sec-text {
  color: var(--sec-color);
}
.max-width-400-center {
  width: 25rem;
  margin: auto;
}

/* VARIABLES */

/* Global */
:root {
  --line-height: 1.32;
}

/* Font sizes */
:root {
  --large-font-size: 1.5625rem;
  --body-font-size: 1.125rem;
  --small-font-size: 0.875rem;
}

@media only screen and (min-width: 769px) {
  :root {
    --large-font-size: 1.625rem;
    --body-font-size: 1.25rem;
    --small-font-size: 1rem;
  }
}

/* Spacing */
:root {
  --spacing-xxsmall: calc(var(--line-height) * var(--body-font-size) * 0.25);
  --spacing-xsmall: calc(var(--line-height) * var(--body-font-size) * 0.5);
  --spacing-small: calc(var(--line-height) * var(--body-font-size) * 1);
  --spacing-medium: calc(var(--line-height) * var(--body-font-size) * 2);
  --spacing-large: calc(var(--line-height) * var(--body-font-size) * 4);
  --spacing-xlarge: calc(var(--line-height) * var(--body-font-size) * 5);
}

/* Colors */
:root {
  --background-color: #fbfbfb;
  --interest-item-1: #f64e28;
  --interest-item-2: #7d9ec9;
  --interest-item-3: #cb836d;
  --font-color: #222222;
  --sec-color: #6a6a6a;
  --border-color: #d0d0d0;
  --container-color: #dcdcdc;
  --link-color: #355278;
  --visited-link: #355278;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0c0c0c;
    --interest-item-1: #c6c2a9;
    --interest-item-2: #8b8393;
    --interest-item-3: #8f9ea6;
    --font-color: #f5f5f5;
    --sec-color: #a9a9a9;
    --border-color: #323232;
    --container-color: #232323;
    --link-color: #98b7c5;
    --visited-link: #98b7c5;
  }
}

/* RESET (credit Josh Comeau) */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margins
  */
* {
  margin: 0;
}

ol {
  padding-inline-start: 1em;
}

/*
    3. Allow percentage-based heights in the application
  */
html {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Fix margins and font inheritance
    5. Improve text rendering
  */
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
  text-align: left;
}

body {
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
